Using dup to dry up bang methods

Hello, and today we're going to take a dip into Active Support to look at how we can use Object#dup to dry up bang methods.

As you probably know, most methods are non destructive, but a bang method modifies an object in place:

a = "CrazyPony"
a.camelize
# => "crazy_pony"
a
# => "CrazyPony"

# Now with a bang

a.camelize!
# => "crazy_pony"
a
# => "crazy_pony"

Often we want to deine non bang and bang methods, but we don't want to repeat code.